

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin: 0;
}

/*  =============  GENERAL  ==============  */

/*Header*/
header {
  background-size: cover;
  /*background-image: url('../assets/img/header.jpg');*/
  text-align: center;
  background-color: black;
  height: 200px;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1;
}

header img {
  height: 130px;
}

h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
}

h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
  font-weight: normal;
}

h3 {
  font-weight: lighter;
  font-size: 29px;
  color: white;
}

p {
  font-size: 38px;
  color: white;
  font-weight: lighter;
  line-height: 1.7;
}

aside.home_click {
  right: 65px;
  top: 80px;
  display: none;
  z-index: 1;
  position: fixed;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  background-color: none;
  padding: 35px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  border: 3px solid white;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.logo_button {
  display: flex;
  width: 300px;
  background: #241f20;
  border: 6px solid #0195da;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  color: #bcbdbf;
  transition: transform .5s;
}

.reverse {
  background-color: white;
  width: 300px;
  color: #e5002b;
  border: none;
}

.gif_info {
  display: none;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 302px;
  font-weight: bold;
  font-size: 47px;
  font-weight: normal;
}

.next {
  display: none;
  width: 241px;
  color: white ;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 264px;
  z-index: 3;
}

form {
  margin-top: 107px;
}

input.input {
  display: inline-block;
  width: 83%;
  padding: 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

input.input::placeholder {
  color: #ffffff91;
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: #e4002b;
  height: 1920px;
  width: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0px;
      z-index: 2;
}

#add_email, #add_phone {
  margin-bottom: 70px;
  color: white;
  text-decoration: underline;
  text-underline-position: under
}

.share_overlay input.input {
  display: block;
}

#share_alert, #donation_alert {
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 7;
}

#share_alert p {
  font-size: 42px;
  letter-spacing: 3px;
  color: black;
}

#share_alert h3, #donation_alert h3 {
  font-size: 115px;
  color: #e5002b;
  font-weight: normal !important;
  margin-bottom: 10px;
  font-weight: 800;
  margin-top: 0;
}

#share_alert p, #donation_alert p {
  color: #e5002b;
  margin-top: 0;
  letter-spacing: 6px;
  font-weight: 600;
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.home {
  height: auto;
  width: 1080px;
  overflow-x: hidden;
  position: relative;
}

.welcome {
  position: absolute;
  top: 457px;
  display: none;
}

.background-image {
  background-image: url('../assets/img/hero.jpg');
  position: fixed;
  height: 1920px;
  width: 1080px;
  z-index: -1;
  transition: background-color 1s;
  background-size: cover;
  background-position: 0 49px;
}

canvas img {
  margin: auto;
}

.photos {
  background-size: cover;
  background-position: -150px 0;
  background-repeat: no-repeat;
  /*background-image: url('../assets/img/hero.JPG');*/
  height: 1920px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
}

.multiply {
  background-color: white;
  background-blend-mode: multiply;
}

.logo {
  height: 100px;
  position: fixed;
  margin-top: 850px;
  transition: margin-top 2s, height 2s;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.holiday {
  width: 83%;
  position: absolute;
  top: 506px;
  height: auto !important;
}

#photos {
  transition: opacity 1s, height .5s, background-color 2s;
}

.photos img {
  padding: 45px 50px;
  height: 90px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -350px;
  /* -webkit-animation: bounce 4s infinite ease-in-out; */
  height: 39px;
  border-radius: 100%;
  height: 160px;
  width: 160px !important;
  display: flex;
  justify-content: center;
  background: white;
  color: #e5002b;
  font-weight: bold;
  align-items: center;
  padding: 45px 50px;
}

.photos .button:after {
  position: absolute;
  content: '';
  border-radius: 100%;
  width: 300px;
  height: 292px;
  background-color: transparent;
  border: 4px solid white;
  top: -25px;
  left: -24px;
  transition: transform.5s;
}

.photos .button.clicked:after {
  transform: scale(1.3);
}

@-webkit-keyframes bounce {
  20%, 80%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

#choose_picture {
  left: 155px;
  width: 280px;
  display: none;
}

#choose_gif {
  right: 155px;
  width: 280px;
  text-align: center;
  display: none;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inner_content .logo_button:nth-child(1) {
  margin-bottom: 150px;
}

#event_images {
  margin-bottom: 150px;
  background-color: transparent;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  border-radius: 0;
  border: 3px solid white;
  text-align: center;
  font-weight: normal;
}

.shrunk {
  transform: scale(.8);
  position: fixed;
  top: 230px;
  left: 4px;
  /*font-size: 40px;*/
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
  /*top: 230px;*/
    position: relative;
}

.event_pics {
  background-size: cover;
  background-image: url('../assets/img/pics.jpg');
  background-position: 0px -268px;
  height: 163px;
  width: 100%;
  display: none;
  position: absolute;
  bottom: 0;
  transition: height 1s;
}

.event_pics .overlay {
  position: absolute;
}

.event_pic {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
  height: 900px;
  width: 675px;
}


.display_gifs .event_pic {
  width: 600px;
  height: 800px;
}

.overlay {
  background-color: #e4002b;
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: background-color .3s;*/
}

.active {
  background-position: bottom;
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: -896px 190px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
}



/* ================  PHOTOS  =================*/
.camera_button {
  display: none;
  position: absolute;
  top: 396px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 51%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
  font-weight: normal;
}

.flash {
  display: none;
  background: yellow;
  height: 1920px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  position: absolute;
  top: 275px;
  font-size: 45px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: normal;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
}

.draw_ctl {
  display: none;
  position: absolute;
  z-index: 2;
  top: 229px;
  left: 45%;
  padding: 20px;
}



#pen {
  display: none;
  width: 100px;
  width: 85px;
  position: absolute;
  z-index:2;
  padding: 20px;
  left: 45%;
  top: 200px;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

.back {
  background: #241f20;
  height: 1200px;
  width: 900px;
  display: none;
}

#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
    transition: background-color .2s;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#drawn {
    position: absolute;
    left: 90px;
    top: 360px;
}

.gif_container {
  padding: 50px;
  width: 980px;
  padding-top: 450px;
  text-align: center;
}

.gif_container .canvas_holder {
  width: 319px;
  margin: 20px;
}

.gif_container .canvas_holder img {
  width: 319px;
}

.canvas_holder img {
  box-shadow: 0px 0px 15px #00000070;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 1920px;
  top: 0;
  
}



.photo img, .gif_show img {
  width: 75%;
}

.photo img {
  width: 83%;
}

#draw {
  display: none;
  position: absolute;
  left: 91px;
}

#pictures img:last-child {
  position: absolute;
  left: 91px;
}

#pictures .gif_container img:last-child {
  position: relative;
  left: auto;
}

.gif_show img {
  height: 1200px;
  width: 900px;
  position: relative;
  /*top: -230px;*/
}

/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/

.colors {
  display: none;
  position: absolute;
  z-index: 4;
  top: 362px;
}

.color {
  width: 92px;
  height: 106px;
}

.sizes {
  position: absolute;
  display: none;
  top: 391px;
  right: 0;
  z-index: 4;
}

.size {
  border-radius: 100%;
  margin: 31px;
  margin-bottom: 95px;
  background-color: #0195db;
  transition: scale .2s;
}

#small {
  width: 20px; height: 20px;
}

#medium {
  width: 25px; height: 25px;
}

#large {
  width: 30px; height: 30px;
}

#huge {
  width: 35px; height: 35px;
}

.size:active {
  transform: scale(1.2);
}


#colorRed {
  background-color: #c22628;
}

#colorGreen {
  background-color: #49a463;
}
#colorBlue {
  background-color: #30b9dc;
}
#colorWhite {
  background-color: #fff;
}
#colorBlack {
  background-color: #000;
}

.fa-close {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 56px !important;
  color: #e5002b;
  cursor: pointer;
  z-index: 100;
  background: white;
  padding: 10px 15px;
}

.fa-close.sharex {
  display: none ;
}

.draw_ctl .fa-close {
  position: relative;
  right: auto;left: auto;top: auto;
}

#pictures {
    position: relative;
    height: 100%;
    min-height: 1920px;
    background-size: cover;
    background-color: rgba(36, 31, 32, 0.82);
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#submit_form {
  margin-top: 360px;
}

.submit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.gif_show .submit {
  left: 50%;
}

.print {
  display: none;
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1920px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(36, 31, 32, 0.82);
  /*background-size: cover;
  background-image: url('../assets/img/christmas_dark.png');*/
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 40%;
  width: auto;
  height: 400px;
  z-index: 1;
  filter: brightness(0) invert(1);
  transition: transform 5s;
  -webkit-animation: spin 4s infinite ease-in-out;
}

@-webkit-keyframes spin {
  0%  { -webkit-transform: rotate(0deg); }
    
  100% { -webkit-transform: rotate(360deg); }
}


.event_pics .button {
  display: none;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  opacity: 0;
  transition: opacity 1s;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

#event_gifs {
  margin-bottom: 150px;
  background-color: transparent;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  outline: none;
  border-radius: 0;
  border: 3px solid white;
  text-align: center;
  font-weight: normal;
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
  margin-top: 200px;
  text-align: center;
  margin-top: 200px;
  position: relative;
  top: 200px;
  overflow-y: auto;
}

.event_pics .button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img:last-child {
  margin-bottom: 300px;
}

.event_pics.active {
  height: 1920px;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 82px;
  padding: 20px;
}

i {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 12px;
}

i.fa-close {
  border: none;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/



